.Rproj.user
.Rhistory
.RData
.Ruserdata
regression_data.Rmd
hsb_semicolon.txt
hsb.txt
hsb.dat
hsb.csv
frl.csv
frl.Rdata
free.xls
example.Rmd
fuel.Rdata
nyc.Rdata
nyc.Rds
sov.Rdata
soviii_ang93b.dta
my_acs_key.txt
SG_county_data.dta
wine.data
airline.Rdata
health_district.Rdata
health_district.csv
kc_births.Rdata
partisan.Rdata
regression_data.md
wine (1).names
wine.csv
wine.names
README.html
